.content {
  display: grid;
  grid-template-columns: 1fr;

  &__grid {
    display: grid;

    @include breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr);

      div:nth-child(1) {
        order: 2;
      }
      div:nth-child(2) {
        order: 1;
      }
      div:nth-child(3) {
        order: 3;
      }
      div:nth-child(4) {
        order: 4;
      }
      div:nth-child(5) {
        order: 5;
      }
      div:nth-child(6) {
        order: 6;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 4.375em 1em;
      text-align: center;

      @include breakpoint-up(medium) {
        padding: 4.375em 2.75em;
        align-items: flex-start;
        text-align: left;
      }

      @include breakpoint-up(large) {
        padding: 4.375em;
        align-items: flex-start;
        text-align: left;
        padding: 8em;
      }

      h1 {
        font-family: $secondaryfont;
        font-weight: $black;
        font-size: $heading;
        color: $verydarkdesatblue;

        @include breakpoint-up(large) {
          font-size: $heading2-desktop;
        }
      }

      p {
        line-height: 1.6;
      }

      span {
        display: inline-block;
        padding-top: 2.625em;
        font-family: $secondaryfont;
        font-weight: $black;
        color: $verydarkdesatblue;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
          &::after {
            background-color: rgba($color: $yellow, $alpha: 1);
          }
        }

        &::after {
          content: "";
          display: block;
          margin-top: -0.5em;
          margin-left: 0;
          height: 0.75em;
          width: 8.25em;
          background-color: rgba($color: $yellow, $alpha: 0.3);
          border-radius: 5px;
          transition: all 0.3s ease-out;

          @include breakpoint-up(large) {
            margin-left: -0.5em;
          }
        }

        &.pink::after {
          background-color: rgba($color: $softred, $alpha: 0.3);
        }

        &:hover {
          &.pink::after {
            background-color: rgba($color: $softred, $alpha: 1);
          }
        }
      }
    }

    &__image {
      overflow: hidden;

      img {
        object-fit: cover;
        width: 105%;
        height: 105%;
      }
    }

    &__mixed {
      display: flex;
      flex-direction: column;
      background-size: cover;
      align-items: center;
      justify-content: flex-end;
      min-height: 37.5em;
      overflow: hidden;

      h1 {
        font-family: $secondaryfont;
        font-weight: $black;
        font-size: $heading;
        color: $darkdesatcyan;
      }

      p {
        text-align: center;
        padding: 0 2em;
        padding-bottom: 4.0625em;
        line-height: 1.6;
        max-width: 700px;
        

        @include breakpoint-up(large) {
          padding: 0 10.25em;
          padding-bottom: 4.0625em;
        }
      }

      &.graphic {
        background-image: url("../images/mobile/image-graphic-design.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @include breakpoint-up(medium) {
          background-image: url("../images/desktop/image-graphic-design.jpg");
        }
      }

      &.photography {
        background-image: url("../images/mobile/image-photography.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @include breakpoint-up(medium) {
          background-image: url("../images/desktop/image-photography.jpg");
        }
      }
    }
  }

  &__fullwidth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 2.6875em;
    padding: 4.25em 0;

    @include breakpoint-up(large) {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 10.25em 0;
    }

    h1 {
      font-family: $secondaryfont;
      font-weight: $black;
      font-size: $fontsize;
      text-transform: uppercase;
      color: $grayishblue;
      margin: 0;
      padding: 0;

      @include breakpoint-up(large) {
        flex-basis: 100%;
        text-align: center;
        font-size: 1.5em;
        letter-spacing: 4px;
      }
    }

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 21.25em;

      &__image img {
        margin-top: 4.25em;
        border-radius: 50%;
        width: 4.375em;
      }

      &__text {
        max-width: 18.75em;
        margin: 0 auto;
        text-align: center;
        font-size: $fontsize;
        padding: 1.5em 1em;
        line-height: 1.6;

        @include breakpoint-up(large) {
          padding: 3.25em 0;
        }
      }

      &__name {
        text-align: center;
        font-family: $secondaryfont;
        font-weight: $black;
        font-size: $fontsize;

        span {
          display: block;
          font-family: $primaryfont;
          font-weight: $regular;
          font-size: $fontsize;
          color: $grayishblue;

          @include breakpoint-up(large) {
            padding: 1em 0;
            font-size: 0.75em;
          }
        }
      }
    }
  }
}
