.footer {
  position: relative;
  background-color: $darkmodcyanalt;
  color: $darkdesatcyan;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.0625em 0;

  & img {
    width: 10.9375em;
    margin-bottom: 1.5em;
  }

  &__links {
    padding: 2em 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    list-style-type: none;
    column-gap: 3em;
    font-size: $fontsize;
    color: $darkmodcyan;

    li {
        cursor: pointer;

        &:hover {
            color: $white;
        }
    }
  }

  &__icons {
    padding: 2.25em 0;
    padding-bottom: 1em;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    list-style-type: none;
    column-gap: 1.6875em;

    & .icon {
      width: 1.25em;
      height: 1.25em;
      cursor: pointer;
    }
  }

  .attribution {
      position: absolute;
      bottom: 2em;
      text-align: center;
      color: $darkmodcyan;
      font-size: .8rem;
      padding: 1em;

      a {
          color: $white;
      }
  }
}
