.header{
    background-image: url("../../images/mobile/image-header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -3.75em;
    min-height: 100vh;
    text-align: center;

    &__title {
        padding-top: 6.25em;
        font-family: $secondaryfont;
        font-weight: $black;
        font-size: $heading;
        letter-spacing: .3em;
        text-transform: uppercase;
        color: $white;
    }

    &__arrow {
        margin-top: 3.75em;
        color: $white;
    }
}