.portfolio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  @include breakpoint-up(large) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }

  img {
      width: 100%;
  }
}
