
// Color
$softred: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$darkdesatcyan: hsl(167, 40%, 24%);
$darkblue: hsl(198, 62%, 26%);
$darkmodcyan: hsl(168, 34%, 41%);
$darkmodcyanalt: hsl(167, 44%, 70%);
$verydarkdesatblue: hsl(212, 27%, 19%);
$verydarkgrayishblue: hsl(213, 9%, 39%);
$darkgrayishblue: hsl(232, 10%, 55%);
$grayishblue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

// Fonts
$primaryfont: 'Barlow', sans-serif;
$secondaryfont: 'Fraunces', serif;

$fontsize: 18px;
$heading: 2.1875rem;
$heading-desktop: 3.4375em;
$heading2-desktop: 3em;

$regular: 600;
$bold: 700;
$black: 900;